NEXT_PUBLIC_SUPABASE_URL=https://kabuoqqarbgomiwwkyof.supabase.co
NEXT_PUBLIC_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImthYnVvcXFhcmJnb21pd3dreW9mIiwicm9sZSI6ImFub24iLCJpYXQiOjE3NTUxNTI3MTcsImV4cCI6MjA3MDcyODcxN30.8stS6SfEqYji3goAI-2d0tsEKlBQzscLPdXHmXF18pQ